header {
  position: relative;
  min-height: 100vh;

  .navbar {
    background: transparent;
    transition: 0.5s;
  }

  .navbar-brand {
    &:hover {
      opacity: 0.8;
    }
    .logo {
      width: 150px;
    }
  }
  .nav-link {
    font-size: 15px;
    font-weight: 500;
    color: $color-dark-1;
  }
  button {
    width: 110px;
    height: 40px;
    &:focus {
      outline: 0;
    }
  }

  .banner {
    position: absolute;
    background: url("/assets/image/shape/shape-50.svg") right no-repeat;
    margin-top: 2rem;
    @include centerAll(-50%, -65%);
    h3 {
      line-height: 2rem;
    }
    h6 {
      line-height: 1.7rem;
    }
    .line-1 {
      position: absolute;
      top: -20px;
      z-index: -1;
    }
  }
  .page-wrapper {
    position: relative;
    background: $color-red-3;
    .title-page {
      padding-top: 14rem;
      padding-bottom: 8rem;
      font-size: 4rem;
    }
    .breadcrumb {
      border-bottom: 1px solid $color-dark-3;
      li {
        font-size: 18px;
        a {
          color: $color-red-2;
          &:hover {
            color: $color-red-1;
          }
        }
      }
    }
    .breadcrumb-item + .breadcrumb-item::before {
      content: ">";
    }
  }
}
.shrink {
  .navbar {
    background: #fff;
    box-shadow: 1px 1px 10px rgb(184, 184, 184);
  }
}
